{% extends "base.html" %}

{% block body %}
<div class="row">
  <h4>{{ iati_identifier }}</h4>
  <p><a href="{{ url_for('package_overview', uuid=uuid) }}">Back to overview</a></p>
</div>

<div class="row">
  <pre class="prettyprint">{{ activity }}</pre>
</div>
{% endblock %}

{% block extra_css %}
<style>
pre { white-space: pre-wrap; }
</style>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=false&amp;skin=sons-of-obsidian"></script>
<script src="https://cdn.rawgit.com/vkiryukhin/vkBeautify/master/vkbeautify.js"></script>
{% assets "js_activity" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
