{% extends "base.html" %}
{% from 'partials/_totaliser.html' import totaliser %}

{% block body %}
<div class="row">
  <h4>{{ iati_identifier }}</h4>
  <p><a href="{{ url_for('package_overview', uuid=params['uuid']) }}">Back to overview</a></p>

<!--   {% if results[1] != [] %}
  <h4>The activity passes the following {{ results[1]|count }} {{ results[1]|count|pluralize('test') }}:</h4>
  <ul>
  {% for test_name, explain in results[1] %}
    <li>{{ test_name }}</li>
  {% endfor %}
  </ul>
  {% endif %}

  {% if results[0] != [] %}
  <h4>The activity fails the following {{ results[0]|count }} {{ results[0]|count|pluralize('test') }}:</h4>
  <ul>
  {% for test_name, explain in results[0] %}
    <li>{{ test_name }} – {{ explain }}</li>
  {% endfor %}
  </ul>
  {% endif %} -->
</div>

<div class="row">
  <pre class="prettyprint">{{ activity }}</pre>
</div>
{% endblock %}

{% block extra_css %}
<style>
pre { white-space: pre-wrap; }
</style>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=false&amp;skin=sons-of-obsidian"></script>
<script src="https://cdn.rawgit.com/vkiryukhin/vkBeautify/master/vkbeautify.js"></script>
{% assets "js_activity" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}
