{% extends "base.html" %}

{% block body %}
{% include 'partials/_functions_bar.html' %}

<div class="row quality-panels-list">
{% for component in components %}
  <div class="col-sm-6 quality-panel" id="{{ component.id }}" data-title="{{component.name}}" data-status-url="{{ url_for('task_status', task_id=task_ids[component.id]) }}" data-more-url="{{ url_for('package_quality_by_component', uuid=uuid, component_id=component.id) }}">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ component.name }}</h3>
      </div>
      <div class="nanobar"></div>
      <div class="panel-body">
        <div class="loading">
          <div class="loading-content">
            <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
          </div>
        </div>
        <div class="progress" style="visibility: collapse;"></div>
        <a class="btn btn-default pull-right" disabled="disabled" href="#">More…</a>
      </div>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}

{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>

<script id="panel-tmpl" type="text/x-handlebars-template">
{% raw %}
  <div class="progress">
    <div class="progress-bar" style="width: {{ pass }}%; background-color: {{ colour }};" title="{{int_pass}}% Passed" data-toggle="tooltip">
      <span class="sr-only">{{ int_pass }}% Pass</span>
      {{ int_pass }}%
    </div>
    <div class="progress-bar" style="width: {{ fail }}%; background-color: {{ colour }}; opacity: 0.2;">
      <span class="sr-only">{{ int_fail }}% Fail</span>
    </div>
  </div>
  <p><strong>{{int_pass}}%</strong> of the '{{title}}' tests passed.</p>
  <a class="btn btn-default pull-right" href="{{ more_url }}">More…</a>
{% endraw %}
</script>

<script type="text/javascript">
$(function() {
  var tmpl = Handlebars.compile($('#panel-tmpl').html());

  $('.quality-panel').each(function(k, el) {
    $el = $(el);
    var nanobar = new Nanobar({
      target: $el.find('.nanobar')[0]
    });
    update_progress($el, nanobar);
  });

  function update_progress($el, nanobar) {
    var status_url = $el.data('status-url');
    $.getJSON(status_url, function(data) {
      if (data.status !== 'PENDING') {
        nanobar.go(data.progress);
      }
      if (data.status === 'SUCCESS') {
        if (data.score !== null) {
          var ctx = {
            pass: data.score,
            int_pass: parseInt(data.score),
            fail: 100 - data.score,
            int_fail: parseInt(100 - data.score),
            colour: data.colour,
            component: data.name,
            more_url: $el.data('more-url'),
            title: $el.data('title'),
          };
          $el.find('.panel-body .loading').fadeOut(function() {
            $el.find('.panel-body').html(tmpl(ctx));
            $('[data-toggle="tooltip"]').tooltip();
          });
        } else {
          $el.find('.panel-body .loading').fadeOut(function() {
            $el.find('.panel-body').prepend('<div class="pull-left">' +
              'No relevant data found.</div>');
          });
        }
      } else {
        // rerun in 2 seconds
        setTimeout(function() {
          update_progress($el, nanobar);
        }, 2000);
      }
    });
  }
});
</script>

{% endblock %}
