{% extends "base.html" %}

{% block body %}
{% include 'partials/_test_another_file.html' %}

<div class="row quality-panels-list">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">{{ component.name }} <a class="pull-right" href="{{ url_for('package_overview', uuid=uuid) }}">Back to overview</a></h3></div>
    <div class="panel-body">

      {% for test_name, result_dict in results %}
      <div class="col-sm-6 quality-panel">
          <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" style="display: inline">{{ test_name }}</h3>
                <span class="pull-right" title="Scoring indicator number {{ result_dict['indicator']['indicator_num'] }}">#{{ result_dict['indicator']['indicator_num'] }}</span>
            </div>
            <div class="panel-body">
              {% if result_dict|percent is not none %}
              {% set bg_color=result_dict|percent|colorify %}
              <div class="progress">
                <div class="progress-bar" style="width: {{ result_dict|percent }}%; background-color: {{ bg_color }}">
                  <span class="sr-only">{{ result_dict|percent|int }}% Pass</span>
                  {{ result_dict|percent|int }}%
                </div>
                <div class="progress-bar" style="width: {{ 100 - result_dict|percent }}%; background-color: {{ bg_color }}; opacity: 0.2;">
                  <span class="sr-only">{{ 100 - result_dict|percent|int }}% Fail</span>
                </div>
              </div>

              This test passes in
              {{ result_dict['passed']|commify }}
              out of
              {{ (result_dict['passed'] + result_dict['failed'])|commify }}
              relevant cases.

              <a class="btn btn-default pull-right" href="{{ url_for('package_quality_by_test', uuid=uuid, component_id=component.id, test_name=quote_plus(test_name)) }}">More…</a>
              {% else %}
              <div class="pull-left">
                No relevant data found.
              </div>
              <div class="progress" style="visibility: collapse;"></div>
              <a class="btn btn-default pull-right" disabled="disabled" href="#">More…</a>
              {% endif %}
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
