{% extends "base.html" %}
{% from 'partials/_totaliser.html' import totaliser %}

{% block body %}

<div class="row">
  {% include 'partials/_filter_activities.html' %}
</div>

<div class="row quality-panels-list">
  <div class="panel panel-primary">
    <div class="panel-heading"><h3 class="panel-title">{{ params['component'] }} <a class="pull-right" href="{{ url_for('package_overview', uuid=params['uuid']) }}">Back to overview</a></h3></div>
    <div class="panel-body">

      {% for test_name, result_dict in results.percentages.items() %}
      <div class="col-sm-6 quality-panel">
          <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title"><a href="{{ url_for('package_quality_by_test', **dict(params, test=test_name)) }}">{{ test_name }}</a>
            <a href="{{ url_for('package_quality_by_test', **dict(params, test=test_name)) }}"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></h3></div>
            <div class="panel-body">
              {{ totaliser(result_dict) }}

              {{ results.summary_by_test[test_name][1]|commify }}
              out of
              {{ (results.summary_by_test[test_name][0] + results.summary_by_test[test_name][1])|commify }}
              {% if test_set.filter and not params['filter'] == 'false' %}
              relevant
              {% endif %}
              activities pass this test.
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include 'partials/_test_set_selector.html' %}

{% endblock %}

{% block extra_js %}
<script>
  $(function() {
    $("#more-information").attr('class', 'panel-collapse collapse');
  });
</script>
{% endblock %}
