{% extends "base.html" %}

{% block body %}
{% include 'partials/_functions_bar.html' %}

<div class="row quality-panels-list">
  <div class="panel panel-primary">
    <div class="panel-heading" data-toggle="collapse" data-target="#more-information-body">
      <h3 class="panel-title">{{ test.name }} <a class="pull-right" href="{{ url_for('package_overview', uuid=uuid) }}">Back to overview</a></h3>
    </div>

    <div class="panel-body">
      <p>
        The following test is applied:
      </p>
      <blockquote>{{ test.rendered|safe }}</blockquote>
    </div>
  </div>
</div>

<div class="row" id="results-tabs">
{% for result in results %}
  <li>
    {% if result['IATI Identifier'] != '[no-identifier]' %}
    <a href="{{ url_for('activity_quality', uuid=uuid, iati_identifier=result['IATI Identifier']) }}">{{ result['IATI Identifier'] }}</a>
    {% else %}
      [no-identifier]
    {% endif %}
    - {{ pprint(result['Message'])|safe }}
  </li>
{% endfor %}
</div>

{% endblock %}
