{% extends "base.html" %}

{% block body %}
<div class="row">
  <div class="loading hide">
    <div class="loading-content">
      <h1>Loading...</h1>
      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
    </div>
  </div>

  <div class="jumbotron">
    <h2 class="sub-header">Data Quality Tester</h2>
    <p class="lead">Test your IATI data against the Publish What
      You Fund Aid Transparency Index tests.</p>
  </div>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>Upload
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <div class="form-group"><label class="control-label" for="id_original_file">Upload a file (.xml)</label><div class="row bootstrap3-multi-input"><div class="col-xs-12"><input class="" id="id_original_file" name="original_file" title="" type="file" /></div></div></div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                      Submit
                  </button>
              </div>
          </form>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>Link
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse show-open-if-noscript" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <form action="{{ url_for('upload') }}" id="fetchURL" method="POST">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <div class="form-group"><label class="control-label" for="id_source_url">Supply a URL (XML only)</label><input class="form-control" id="id_source_url" maxlength="2000" name="source_url" placeholder="Supply a URL (XML only)" required="required" title="" type="url" /></div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                      Submit
                  </button>
              </div>
          </form>
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        <h4 class="panel-title">
          <a class="accordion-toggle">
            <span class="glyphicon glyphicon-paste" aria-hidden="true"></span>Paste
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse show-open-if-noscript" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          <form action="{{ url_for('upload') }}" method="POST">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
              <div class="form-group"><label class="control-label" for="id_paste">Paste (XML only)</label><textarea class="form-control" cols="40" id="id_paste" name="paste" placeholder="Paste (XML only)" required="required" rows="10" title=""></textarea></div>
              <div class="form-group">
                  <button type="submit" class="btn btn-primary">
                      Submit
                  </button>
              </div>
          </form>
        </div>
      </div>

    </div>
  </div>

  <div class="row" id="how-to-use">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <h3 class="heading-in-panel">Using the Data Quality Tester</h3>
          <p> You can upload, paste or provide a link to data published using the <a href="http://iatistandard.org">International Aid Transparency Initiative (IATI) Standard</a>.</p>

          <p>If your data passes basic validation checks, the tool will then present a report on data quality, and information about the contents of your file.</p>
          <p>Data is stored for 7 days at a randomly generated URL. You can share this link with others to support discussion of data quality.</p>
          <p>To preview how the Data Quality Tester works, try <a href="{{ url_for('load_sample') }}">loading some sample data</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="how-to-use">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <h3 class="heading-in-panel">Networked Data Test</h3>
          <p>The complex tests, as described in the <a href="https://www.publishwhatyoufund.org/download/2024-aid-transparency-index-technical-paper/?tmstv=1707839748">technical paper</a>, are currently excluded from the Data Quality Tester results.</p>
          <p>Following the 2021 consultation, a new indicator: 'The Networked data test' was added to the Index. This was updated following the 2023 consultation to include a test for receiver organisations at the transaction level.<p>
          <p>We have provided the link below to an external resource that will allow you calculate scores for this Networked data test:</p>
          <ul>
            <li><a target="_blank" href="https://colab.research.google.com/drive/1s5Zev0IaCO9Tv1exjElVmHHFMr9jxeZ_#sandboxMode=true">Networked Data Test Colab Notebook</a></li>
          </ul>
          <p>Please note that this notebook does not calculate the updated test or receiver organisations at the transaction level.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>

<script>
  $(function() {
    $("#collapseTwo").attr('class', 'panel-collapse collapse');
    $("#collapseThree").attr('class', 'panel-collapse collapse');

    $('form').submit(function(e) {
      $('.loading').removeClass('hide');
      $('#accordion').hide();

      var $this = $(this);
      if ($('input[name="source_url"]').val() !== '') {
        var action = $this.prop('action');
        e.preventDefault();
        $.post(action, $this.serialize(), function(resp) {
          var task_url = resp.task_url;
          var next_url = resp.next_url;
          var nanobar = new Nanobar();
          update_progress(task_url, next_url, nanobar);
        });
      }
    });

    function update_progress(task_url, next_url, nanobar) {
      $.getJSON(task_url, function(data) {
        if (data.status !== 'PENDING') {
          nanobar.go(data.progress);
        }
        if (data.status === 'SUCCESS') {
          $(location).attr('href', next_url);
        } else {
          // rerun in 2 seconds
          setTimeout(function() {
            update_progress(task_url, next_url, nanobar);
          }, 2000);
        }
      });
    }
  });
</script>
{% endblock %}
