[submodule "codelists/2"]
	path = codelists/2
	url = https://github.com/IATI/IATI-Codelists.git
[submodule "codelists/1"]
	path = codelists/1
	url = https://github.com/IATI/IATI-Codelists.git
	branch = version-1.05
[submodule "codelists/non-embedded"]
	path = codelists/non-embedded
	url = https://github.com/IATI/IATI-Codelists-NonEmbedded.git
