from os.path import dirname, join


class Config(object):
    SECRET_KEY = 'super top secret key'
    DEBUG = True

    ASSETS_AUTO_BUILD = False

    REGISTRY_API_BASE_URL = 'https://iatiregistry.org/api/3/action'
    CELERY_BROKER_URL = 'redis://localhost:6379/0'
    CELERY_RESULT_BACKEND = 'redis://localhost:6379/0'
    CURRENT_PATH = dirname(__file__)
    MEDIA_FOLDER = join(CURRENT_PATH, 'media')
    SQLALCHEMY_DATABASE_URI = 'sqlite:///{}'.format(
        join(CURRENT_PATH, 'db.sqlite3'))
    SQLALCHEMY_TRACK_MODIFICATIONS = False
    ALLOWED_EXTENSIONS = ('xml',)
    TEST_SETS = {
        'pwyf': {
            'name': 'Aid Transparency Index tests',
            'description': 'These tests only run on current data. They ' +
                           'comprise the automated component of the Aid ' +
                           'Transparency Index, which aims to rank donors ' +
                           'by data quality.',
            'filepath': join(CURRENT_PATH, '2018-index-indicator-definitions',
                             'test_definitions'),
            'components': (
                ('org_planning', 'Organisational planning and commitments'),
                ('finance', 'Finance and budgets'),
                ('project_attributes', 'Project attributes'),
                ('joining_up', 'Joining-up development data'),
                ('performance', 'Performance'),
            ),
        },
    }
    CODELIST_LIST = [
        'ActivityStatus', 'AidType', 'FinanceType',
        'FlowType', 'Sector', 'TiedStatus']
    DEFAULT_TEST_SET = 'pwyf'
    PER_PAGE = 10
