import os.path

import yaml


class Config(object):
    SECRET_KEY = 'super top secret key'
    DEBUG = True

    REGISTRY_API_BASE_URL = 'https://iatiregistry.org/api/3/action'
    CACHE_TIMEOUT = 86400  # 24 hours
    CURRENT_PATH = os.path.dirname(os.path.realpath(__file__))
    MEDIA_FOLDER = os.path.join(CURRENT_PATH, 'media')
    SQLALCHEMY_DATABASE_URI = 'sqlite:///{}'.format(os.path.join(CURRENT_PATH, 'db.sqlite3'))
    ALLOWED_EXTENSIONS = ('xml',)
    TEST_SETS = {
        'rulesets': {
            'name': 'IATI Rulesets',
            'description': 'These rules catch stuff that doesn’t really make sense, e.g. end dates before start dates.',
            'tests_file': os.path.join(CURRENT_PATH, 'test_definitions', '202-ruleset.yaml'),
        },
        'openag': {
            'name': 'Open Ag',
            'description': 'These tests only run on agricultural activities. They search for the existence of bits of data that are crucial for agricultural data to begin to be useful.',
            'tests_file': os.path.join(CURRENT_PATH, 'test_definitions', 'open-ag-tests.yaml'),
        },
        'pwyf': {
            'name': 'Publish What You Fund',
            'description': 'These tests only run on current data. They comprise the automated component of the Aid Transparency Index, which aims to rank donors by data quality.',
            'tests_file': os.path.join(CURRENT_PATH, 'test_definitions', 'pwyf-tests.yaml'),
        },
    }
    DEFAULT_TEST_SET = 'pwyf'
    PER_PAGE = 20

    with open('codelists.yaml') as f:
        CODELISTS = yaml.load(f)
    CODELISTS['Agriculture'] = ['23070', '31110', '31120', '31130', '31140', '31150', '31161', '31162', '31163', '31164', '31165', '31166', '31181', '31182', '31191', '31192', '31193', '31194', '31195', '31210', '31220', '31261', '31281', '31282', '31291', '31310', '31320', '31381', '31382', '31391', '72040', '12240', '43040', '52010',]
