alembic
bdd-tester
celery
certifi
chardet
charset-normalizer
cssmin
Flask
Flask-Assets
Flask-Migrate
Flask-SQLAlchemy
gherkin-official<5
idna
importlib-metadata
itsdangerous
Jinja2
jsmin
lxml
Mako
MarkupSafe
more-itertools
prompt-toolkit
python-dateutil
python-editor
pytz
redis
requests
six
SQLAlchemy
urllib3
uWSGI
wcwidth
webassets
Werkzeug
zipp
