{% macro totaliser(results) %}
<div class="progress">
  <div id="num-pass" class="progress-bar progress-bar-striped" style="width: {{ 100 * results }}%; background-color: {{ results|colorify }}">
    <span class="sr-only">{{ (100 * results)|int }}% Pass</span>
    {{ (100 * results)|int }}%
  </div>
  <div id="num-fail" class="progress-bar" style="width: {{ 100 * (1 - results) }}%; background-color: #222">
    <span class="sr-only">{{ (100 * (1 - results))|ceil|int }}% Fail</span>
  </div>
</div>
{% endmacro %}
