{% macro totaliser(results) %}
{% set bg_color=results|colorify %}
<div class="progress">
  <div id="num-pass" class="progress-bar" style="width: {{ 100 * results }}%; background-color: {{ bg_color }}">
    <span class="sr-only">{{ (100 * results)|int }}% Pass</span>
    {{ (100 * results)|int }}%
  </div>
  <div id="num-fail" class="progress-bar" style="width: {{ 100 * (1 - results) }}%; background-color: {{ bg_color }}; opacity: 0.2;">
    <span class="sr-only">{{ (100 * (1 - results))|ceil|int }}% Fail</span>
  </div>
</div>
{% endmacro %}
