{% if test_set.filter %}
<div class="col-lg-offset-7 col-lg-5">
  <form method="get" class="filter-form">
    {% for k, v in params.items() %}
      {% if k not in ['uuid', 'filter'] %}
      <input type="hidden" name="{{ k }}" value="{{ v }}" />
      {% endif %}
    {% endfor %}
    <div class="input-group">
      <select class="form-control" name="filter">
        <option value="true"
        {%- if not params['filter'] == 'false' %} selected="selected"
        {%- endif -%}
        >Current activities ({{ results['meta']['total_filtered_activities']|commify }} in total)</option>
        <option value="false"
        {%- if params['filter'] == 'false' %} selected="selected"
        {%- endif -%}
        >All activities ({{ results['meta']['total_activities']|commify }} in total)</option>
      </select>
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Filter</button>
      </span>
    </div><!-- /input-group -->
  </form>
</div><!-- /.col-lg-6 -->
{% endif %}
