/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#accordion .panel-heading {
    cursor: pointer;
}

.panel-title a {
  text-decoration: none;
}

.panel-title .glyphicon {
  padding-right: 15px;
}
