/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#accordion .panel-heading,
#more-information .panel-heading {
    cursor: pointer;
}

.panel-group .panel-title a {
  text-decoration: none;
}

.panel-group .panel-title .glyphicon {
  padding-right: 10px;
}

.quality-panels {
  margin-bottom: 20px;
}

.quality-panels .glyphicon {
  float: right;
}

.filter-form {
  padding-bottom: 20px;
}


/* Sticky footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}

.footer .container .text-muted {
  margin: 20px 0;
}
