/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

#accordion .panel-heading {
    cursor: pointer;
}

.panel-group .panel-title a {
  text-decoration: none;
}

.panel-group .panel-title .glyphicon {
  padding-right: 10px;
}

.quality-panels {
  margin-bottom: 20px;
}

.quality-panels .glyphicon {
  float: right;
}

.filter-form {
  padding-bottom: 20px;
}
