{% extends "base.html" %}

{% block body %}
<form>
  <div class="row">
    <div class="col-lg-6">
      <div class="input-group">
        <input type="text" class="form-control" name="q" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-primary" type="submit">Go!</button>
        </span>
      </div>
    </div>
  </div>
</form>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Number of packages</th>
      </tr>
    </thead>
    <tbody>
      {% for publisher in publishers %}
      <tr>
        <td><a href="{{ url_for('publisher', publisher=publisher["code"]) }}">{{ publisher["name"] }}</a></td>
        <td>{{ publisher["num_packages"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include '_pagination.html' %}
{% endblock %}
