{% extends "base.html" %}

{% block body %}
<h4>Activity from <a href="{{ url_for('show_package', package_name=package_name) }}">{{ package_name }}</a></h4>

{% from '_totaliser.html' import totaliser %}
{{ totaliser(activity_results['results_percs']) }}

<a href="#" data-toggle="modal" data-target="#detailsModal">Details</a>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {% for test in tests_run_list -%}
        {{ test['name'] }}: {{ activity_results['results'][loop.index0] }}<br>
        {%- endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<pre class="prettyprint">{{ activity }}</pre>
{% endblock %}

{% block extra_css %}
<style>
pre { white-space: pre-wrap; }
</style>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=false&amp;skin=sons-of-obsidian"></script>
<script src="https://cdn.rawgit.com/vkiryukhin/vkBeautify/master/vkbeautify.js"></script>
<script>
  var p = document.getElementsByClassName("prettyprint")[0];
  p.innerText = vkbeautify.xml(p.innerText);
</script>
{% endblock %}
