{% extends "base.html" %}

{% block body %}
<div class="row">
  <h4><a href="{{ url_for('package_quality', uuid=uuid) }}">Go back</a></h4>

  <pre class="prettyprint">{{ activity }}</pre>
</div>
{% endblock %}

{% block extra_css %}
<style>
pre { white-space: pre-wrap; }
</style>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=false&amp;skin=sons-of-obsidian"></script>
<script src="https://cdn.rawgit.com/vkiryukhin/vkBeautify/master/vkbeautify.js"></script>
<script src="{{ url_for('static', filename='js/activity.js') }}"></script>
{% endblock %}
