{% extends "base.html" %}

{% block body %}
<h4>All packages published by {{ publisher }}</h4>

{% include '_search.html' %}

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for resource in resources %}
      <tr>
        <td>
          {% if resource["filetype"] %}
          <span class="label label-{% if resource["filetype"] == "activity" %}primary{% else %}default{% endif %}">{{ resource["filetype"] }} file</span>
          {% endif %}

          {% if resource["filetype"] == "activity" %}
          <a href="{{ url_for('run_tests', package_name=resource["package_name"]) }}">{{ resource["title"] }}</a>
          {% else %}
          {{ resource["title"] }}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% include '_pagination.html' %}
{% endblock %}
